<!-- templates/problem_detail.html 

<div>
    <h3>{{ problem.title }}</h3>
    <p>{{ problem.description }}</p>
    <p>Difficulty: {{ problem.difficulty }}</p>
    
    <form method="POST" action="{% url 'submit_code' problem.id %}">
        {% csrf_token %}
        <textarea name="code" rows="10" cols="50" placeholder="Enter your code"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
-->

{% extends 'base.html' %}

{% block title%}
<title>Problems-{{problem.id}}</title>
{% endblock title %}

{% block content %}

<h2>{{ problem.title }}</h2>
<p>{{problem.description}}</p>
<h5>{{problem.difficulty}}</h5>

<form action="{% url 'submit_code' problem.id %}" method="POST">
  {% csrf_token %}
          <fieldset>
            <div class="form-group">
              <textarea data-editor="terminal" name="code" cols="85" rows="20" id="editor"></textarea>
            </div>
            <div class="form-group">
              <label >Select Language</label>
              <select name="language" id="language" class="form-select">
                <option value="C++">C++</option>
                <option value="C">C</option>
                <option value="Python3">Python3</option>
                <option value="Python2">Python2</option>
                <option value="Java">Java</option>
              </select>
            </div> 
            <br>
            <button id="submit" type="submit" name="submit">Submit</button>
            <br>
          </fieldset>  
  </form>

{% endblock %}




<!--
{% block content %}

<h1>Problem Details</h1>
<h3></h3>
<p>Problem ID: {{ problem.id }}</p>
<p>Description: {{ problem.description }}</p>

 Code submission form 
<form method="POST" action="{% url 'problem_detail' problem_id=problem.id %}">
  {% csrf_token %}
  <textarea name="code" rows="10" cols="50"></textarea>
  <div class="form-group">
    <label >Select Language</label>
    <select name="language" id="language" class="form-select">
      <option >C++</option>
    </select>
  </div> 
  <input type="submit" value="Submit Code">
</form>

-->